img {
  height: 2.5em;
}

header {
  background-color: #eee;
  height: 5em;
  display: flex;
  align-items: center;
  padding: 0 0.5em;

  a {
    display: flex;
    align-items: center;
    gap: 0.5em;

    text-decoration: inherit;
    color: inherit;

    &:hover {
      // le & permet de souligner tout ce qui est dans le a
      text-decoration: underline;
    }

    span {
      font-weight: bold;
      font-size: 1.5em;
    }
  }
}
