<main>
  <h1>Liste des articles</h1>
  <div class="content">
    <nav>
      <button>Rafraîchir</button>
      <a routerLink="add" class="button">Ajouter</a>
      <button>Supprimer</button>
    </nav>
    <table>
      <thead>
        <tr>
          <th class="name">Nom</th>
          <th class="price">Prix</th>
          <th class="qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of articles">
          <td class="name">{{ item.name }}</td>
          <td class="price">
            {{ item.price }}
          </td>
          <td class="qty">{{ item.qty }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
