<main>
  <h1>Liste des articles</h1>
  <div class="content">
    <nav>
      <button title="Rafraîchir" (click)="refresh()" [disabled]="isRefreshing">
        <fa-icon
          [icon]="isRefreshing ? faCircleNotch : faRotate"
          [spin]="isRefreshing"
        ></fa-icon>
      </button>
      <a routerLink="add" class="button" title="Ajouter">
        <fa-icon [icon]="faPlus"></fa-icon>
      </a>
      <!-- [hidden]="selectedArticles.size === 0" plus performant que *ngIf="selectedArticles.size > 0"-->
      <button
        title="Supprimer"
        [hidden]="selectedArticles.size === 0"
        (click)="remove()"
        [disabled]="isRemoving"
      >
        <fa-icon
          [icon]="isRemoving ? faCircleNotch : faTrashAlt"
          [spin]="isRemoving"
        ></fa-icon>
      </button>
    </nav>
    <div class="error">
      {{ errorMsg }}
    </div>
    <table>
      <thead>
        <tr>
          <th class="name">Nom</th>
          <th class="price">Prix</th>
          <th class="qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <!--
          on boucle sur l'observable, le "| async" réveille le composant à chaque nouvelle publication
          eviter le .value car ne resiste pas à l'optimisation des perfs
          le subsribe est fait par le "| async"
        -->
        <tr
          *ngFor="let item of myArticleService.getArticles() | async"
          [class.selected]="selectedArticles.has(item)"
          (click)="select(item)"
        >
          <td class="name">{{ item.name }}</td>
          <td class="price">
            {{ item.price }}
          </td>
          <td class="qty">{{ item.qty }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
