<main>
  <h1>Liste des articles</h1>
  <div class="content">
    <nav>
      <button>Rafraîchir</button>
      <a routerLink="add" class="button">Ajouter</a>
      <button>Supprimer</button>
    </nav>
    <table>
      <thead>
        <tr>
          <th class="name">Nom</th>
          <th class="price">Prix</th>
          <th class="qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <!--
          on boucle sur l'observable, le "| async" réveille le composant à chaque nouvelle publication
          eviter le .value car ne resiste pas à l'optimisation des perfs
          le subsribe est fait par le "| async"
        -->
        <tr *ngFor="let item of myArticleService.getArticles() | async">
          <td class="name">{{ item.name }}</td>
          <td class="price">
            {{ item.price }}
          </td>
          <td class="qty">{{ item.qty }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
