<main>
  <h1>Mentions légales</h1>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis
    excepturi nihil optio aliquid repellendus itaque voluptatem quo beatae aut.
    Consequuntur voluptas alias veniam doloremque reiciendis fugiat recusandae
    obcaecati enim vel.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus sapiente
    delectus molestias tenetur debitis neque blanditiis, sequi adipisci, qui
    dolore obcaecati recusandae nostrum eveniet voluptatum quo ipsa dolor vel
    possimus voluptates ipsum dolores! A esse quia possimus nostrum tempore,
    dignissimos debitis non ducimus reiciendis ad iure officia. Perspiciatis,
    odit debitis maxime sit accusamus ab minus iusto dicta nulla maiores.
    Dignissimos fugiat et cum facere nihil numquam. Natus sapiente eveniet
    veniam nisi quisquam repudiandae vero obcaecati quos optio tempora veritatis
    blanditiis, itaque animi id facere velit nostrum, architecto deserunt
    adipisci a culpa voluptatum. Blanditiis corrupti tempore doloribus vel!
    Maiores, cum debitis.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, quae!
  </p>
</main>
